{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <h1>Help</h1>
    <p>Dit is onze help pagina hier kan je informatie vinden hoe de app werkt en hoe de api werkt.</p>
    <h2>Api</h2>
    <p>Deze api is gemaakt om recepten te leveren uit restaurants uit de regio deventer de api mag je gratis gebruiken <a href="/api">klik hier</a> voor de documentatie.  </p>
    <h2>App</h2>
    <p>De app werkt door een random recept te laten zien uit de regio deventer deze kan varieren van biefstuk tot taco's. Als je gerechten wilt opslaan moet je inloggen als je ingelogd bent kan je de gerechten opslaan door op het +'je te klikken. Als je een nieuw gerecht wilt kan je op de knop nieuw gerecht klikken.</p>

</div>
{% endblock content %}