{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container recept-wrapper py-5">
    <div class="d-flex justify-content-between w-100">
      <h2>{{recepten.name}}</h2> 
      {% if user.is_authenticated %}
        <form action="{% url 'opslaan' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{recepten.pk}}" name="receptPK">
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-plus"></i></button>
        </form>
      {% endif %}
    </div>
    <h4>Door: ...</h4>
    <div class="container recept-image">
      <div class="d-flex justify-content-begin">
      </div>
    </div>
    <p>
      {{recepten.description}}      
    </p>
    <h4>Ingredienten:</h4>
    <p>{{recepten.ingredients}}</p>
    <h4>Bereidingstijd:</h4>
    <p>{{recepten.preperation_time}}</p>
    <h4>Aantal personen:</h4>
    <p>{{recepten.persons}}</p>
  </div>

{% endblock content %}
